@import 'tailwindcss';

@theme {
  --color-primary: oklch(51.4% 0.1623 356.09);
  --color-background: oklch(27.8% 0.0055 286.04);
  --color-on-background: oklch(19.39% 0.0151 18.54);
  --color-content-color: oklch(86.69% 0 0);
  --color-surface: oklch(35.05% 0.0028 17.29);
  --color-light-gray: oklch(81.72% 0 0);
  --color-on-primary: oklch(100% 0 0);
  --color-secondary: oklch(66.24% 0.1867 249.84);
  --color-cerise: oklch(59.79% 0.208 9.89);

  --text-medium: 1.3rem;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('assets\fonts\NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('assets\fonts\NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Noto Sans';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
